<h2 class="text-center mt-3">Articles:</h2>

<div class="d-flex justify-content-center mb-5">
  <%= will_paginate @articles %>
</div>

<%= render 'articles/article' %>

<div class="d-flex justify-content-center mb-3">
  <%= will_paginate @articles %>
</div>