<div class="container mt-lg-5">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">About Bloggy</h1>
    </div>
    <div class="card-body">
      <p>BloggedApp is a second version of my very first Rails blog project, it's still quite simple but this version is
        polished and has few additional functions like searching</p>
      <p>I decided to rewrite it to polish rails basics. Later I want to add ActiveStorage to upload files and photos for
        articles but for now I'll focus on my next project which is 7Chat.
      </p>
      <p>Link to previous version on <%= link_to 'heroku', 'https://bloggy-nikola.herokuapp.com/' %></p>
    </div>
  </div>
</div>