<div class="container mt-5">
  <div class="jumbotron text-center" id=home-container>
    <h1 class="display-4">New Blogging App</h1>
    <p class="lead">Welcome to new BloggedApp!</p>
    <hr class="my-4">
    <p>Sign up and create your own article!</p>
    <%= link_to 'Sign up!', signup_path, class: "btn btn-light btn-lg" %>
  </div>
</div>