/*------------------------------------
 - COLOR newblue
 ------------------------------------*/
.alert-newblue {
  color: #0c6d7c;
  background-color: #d5f5fa;
  border-color: #c2f1f8;
}

.alert-newblue hr {
  border-top-color: #abecf6;
}

.alert-newblue .alert-link {
  color: #07444e;
}

.badge-newblue {
  color: #212529;
  background-color: #1CCCE8;
}

.badge-newblue[href]:hover, .badge-newblue[href]:focus {
  color: #212529;
  background-color: #13a6bd;
}

.bg-newblue {
  background-color: #1CCCE8 !important;
}

a.bg-newblue:hover, a.bg-newblue:focus, button.bg-newblue:hover, button.bg-newblue:focus {
  background-color: #13a6bd !important;
}

.border-newblue {
  border-color: #1CCCE8 !important;
}

.btn-newblue {
  color: #212529;
  background-color: #1CCCE8;
  border-color: #1CCCE8;
}

.btn-newblue:hover {
  color: #212529;
  background-color: #14b2cb;
  border-color: #13a6bd;
}

.btn-newblue:focus, .btn-newblue.focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 204, 232, 0.5);
}

.btn-newblue.disabled, .btn-newblue:disabled {
  color: #212529;
  background-color: #1CCCE8;
  border-color: #1CCCE8;
}

.btn-newblue:not(:disabled):not(.disabled):active, .btn-newblue:not(:disabled):not(.disabled).active, .show > .btn-newblue.dropdown-toggle {
  color: #212529;
  background-color: #13a6bd;
  border-color: #119aaf;
}

.btn-newblue:not(:disabled):not(.disabled):active:focus, .btn-newblue:not(:disabled):not(.disabled).active:focus, .show > .btn-newblue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 204, 232, 0.5);
}

.btn-outline-newblue {
  color: #1CCCE8;
  background-color: transparent;
  border-color: #1CCCE8;
}

.btn-outline-newblue:hover {
  color: #212529;
  background-color: #1CCCE8;
  border-color: #1CCCE8;
}

.btn-outline-newblue:focus, .btn-outline-newblue.focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 204, 232, 0.5);
}

.btn-outline-newblue.disabled, .btn-outline-newblue:disabled {
  color: #1CCCE8;
  background-color: transparent;
}

.btn-outline-newblue:not(:disabled):not(.disabled):active, .btn-outline-newblue:not(:disabled):not(.disabled).active, .show > .btn-outline-newblue.dropdown-toggle {
  color: #212529;
  background-color: #1CCCE8;
  border-color: #1CCCE8;
}

.btn-outline-newblue:not(:disabled):not(.disabled):active:focus, .btn-outline-newblue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-newblue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 204, 232, 0.5);
}

.list-group-item-newblue {
  color: #0c6d7c;
  background-color: #c2f1f8;
}

.list-group-item-newblue.list-group-item-action:hover, .list-group-item-newblue.list-group-item-action:focus {
  color: #0c6d7c;
  background-color: #abecf6;
}

.list-group-item-newblue.list-group-item-action.active {
  color: #212529;
  background-color: #0c6d7c;
  border-color: #0c6d7c;
}

.table-newblue, .table-newblue > th, .table-newblue > td {
  background-color: #c2f1f8;
}

.table-hover .table-newblue:hover {
  background-color: #abecf6;
}

.table-hover .table-newblue:hover > td, .table-hover .table-newblue:hover > th {
  background-color: #abecf6;
}

.text-newblue {
  color: #1CCCE8 !important;
}

a.text-newblue:hover, a.text-newblue:focus {
  color: #13a6bd !important;
}

/*------------------------------------
 - COLOR turqoise
 ------------------------------------*/
.alert-turqoise {
  color: #088c7b;
  background-color: #ddfdf8;
  border-color: #cafbf5;
}

.alert-turqoise hr {
  border-top-color: #b2faf1;
}

.alert-turqoise .alert-link {
  color: #055c50;
}

.badge-turqoise {
  color: #212529;
  background-color: #1DF2D6;
}

.badge-turqoise[href]:hover, .badge-turqoise[href]:focus {
  color: #212529;
  background-color: #0bd0b6;
}

.bg-turqoise {
  background-color: #1DF2D6 !important;
}

a.bg-turqoise:hover, a.bg-turqoise:focus, button.bg-turqoise:hover, button.bg-turqoise:focus {
  background-color: #0bd0b6 !important;
}

.border-turqoise {
  border-color: #1DF2D6 !important;
}

.btn-turqoise {
  color: #212529;
  background-color: #1DF2D6;
  border-color: #1DF2D6;
}

.btn-turqoise:hover {
  color: #212529;
  background-color: #0cdec2;
  border-color: #0bd0b6;
}

.btn-turqoise:focus, .btn-turqoise.focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 214, 0.5);
}

.btn-turqoise.disabled, .btn-turqoise:disabled {
  color: #212529;
  background-color: #1DF2D6;
  border-color: #1DF2D6;
}

.btn-turqoise:not(:disabled):not(.disabled):active, .btn-turqoise:not(:disabled):not(.disabled).active, .show > .btn-turqoise.dropdown-toggle {
  color: #212529;
  background-color: #0bd0b6;
  border-color: #0bc1a9;
}

.btn-turqoise:not(:disabled):not(.disabled):active:focus, .btn-turqoise:not(:disabled):not(.disabled).active:focus, .show > .btn-turqoise.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 214, 0.5);
}

.btn-outline-turqoise {
  color: #1DF2D6;
  background-color: transparent;
  border-color: #1DF2D6;
}

.btn-outline-turqoise:hover {
  color: #212529;
  background-color: #1DF2D6;
  border-color: #1DF2D6;
}

.btn-outline-turqoise:focus, .btn-outline-turqoise.focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 214, 0.5);
}

.btn-outline-turqoise.disabled, .btn-outline-turqoise:disabled {
  color: #1DF2D6;
  background-color: transparent;
}

.btn-outline-turqoise:not(:disabled):not(.disabled):active, .btn-outline-turqoise:not(:disabled):not(.disabled).active, .show > .btn-outline-turqoise.dropdown-toggle {
  color: #212529;
  background-color: #1DF2D6;
  border-color: #1DF2D6;
}

.btn-outline-turqoise:not(:disabled):not(.disabled):active:focus, .btn-outline-turqoise:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-turqoise.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 214, 0.5);
}

.list-group-item-turqoise {
  color: #088c7b;
  background-color: #cafbf5;
}

.list-group-item-turqoise.list-group-item-action:hover, .list-group-item-turqoise.list-group-item-action:focus {
  color: #088c7b;
  background-color: #b2faf1;
}

.list-group-item-turqoise.list-group-item-action.active {
  color: #212529;
  background-color: #088c7b;
  border-color: #088c7b;
}

.table-turqoise, .table-turqoise > th, .table-turqoise > td {
  background-color: #cafbf5;
}

.table-hover .table-turqoise:hover {
  background-color: #b2faf1;
}

.table-hover .table-turqoise:hover > td, .table-hover .table-turqoise:hover > th {
  background-color: #b2faf1;
}

.text-turqoise {
  color: #1DF2D6 !important;
}

a.text-turqoise:hover, a.text-turqoise:focus {
  color: #0bd0b6 !important;
}

/*------------------------------------
 - COLOR turgreen
 ------------------------------------*/
.alert-turgreen {
  color: #13734b;
  background-color: #d4f8e9;
  border-color: #c3f5e0;
}

.alert-turgreen hr {
  border-top-color: #adf1d5;
}

.alert-turgreen .alert-link {
  color: #0b472e;
}

.badge-turgreen {
  color: #212529;
  background-color: #26DB90;
}

.badge-turgreen[href]:hover, .badge-turgreen[href]:focus {
  color: #212529;
  background-color: #1db073;
}

.bg-turgreen {
  background-color: #26DB90 !important;
}

a.bg-turgreen:hover, a.bg-turgreen:focus, button.bg-turgreen:hover, button.bg-turgreen:focus {
  background-color: #1db073 !important;
}

.border-turgreen {
  border-color: #26DB90 !important;
}

.btn-turgreen {
  color: #212529;
  background-color: #26DB90;
  border-color: #26DB90;
}

.btn-turgreen:hover {
  color: #212529;
  background-color: #1fbd7c;
  border-color: #1db073;
}

.btn-turgreen:focus, .btn-turgreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 219, 144, 0.5);
}

.btn-turgreen.disabled, .btn-turgreen:disabled {
  color: #212529;
  background-color: #26DB90;
  border-color: #26DB90;
}

.btn-turgreen:not(:disabled):not(.disabled):active, .btn-turgreen:not(:disabled):not(.disabled).active, .show > .btn-turgreen.dropdown-toggle {
  color: #212529;
  background-color: #1db073;
  border-color: #1ba36b;
}

.btn-turgreen:not(:disabled):not(.disabled):active:focus, .btn-turgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-turgreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 219, 144, 0.5);
}

.btn-outline-turgreen {
  color: #26DB90;
  background-color: transparent;
  border-color: #26DB90;
}

.btn-outline-turgreen:hover {
  color: #212529;
  background-color: #26DB90;
  border-color: #26DB90;
}

.btn-outline-turgreen:focus, .btn-outline-turgreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 219, 144, 0.5);
}

.btn-outline-turgreen.disabled, .btn-outline-turgreen:disabled {
  color: #26DB90;
  background-color: transparent;
}

.btn-outline-turgreen:not(:disabled):not(.disabled):active, .btn-outline-turgreen:not(:disabled):not(.disabled).active, .show > .btn-outline-turgreen.dropdown-toggle {
  color: #212529;
  background-color: #26DB90;
  border-color: #26DB90;
}

.btn-outline-turgreen:not(:disabled):not(.disabled):active:focus, .btn-outline-turgreen:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-turgreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 219, 144, 0.5);
}

.list-group-item-turgreen {
  color: #13734b;
  background-color: #c3f5e0;
}

.list-group-item-turgreen.list-group-item-action:hover, .list-group-item-turgreen.list-group-item-action:focus {
  color: #13734b;
  background-color: #adf1d5;
}

.list-group-item-turgreen.list-group-item-action.active {
  color: #212529;
  background-color: #13734b;
  border-color: #13734b;
}

.table-turgreen, .table-turgreen > th, .table-turgreen > td {
  background-color: #c3f5e0;
}

.table-hover .table-turgreen:hover {
  background-color: #adf1d5;
}

.table-hover .table-turgreen:hover > td, .table-hover .table-turgreen:hover > th {
  background-color: #adf1d5;
}

.text-turgreen {
  color: #26DB90 !important;
}

a.text-turgreen:hover, a.text-turgreen:focus {
  color: #1db073 !important;
}

/*------------------------------------
 - COLOR limegreen
 ------------------------------------*/
.alert-limegreen {
  color: #088c2f;
  background-color: #ddfde7;
  border-color: #cafbd9;
}

.alert-limegreen hr {
  border-top-color: #b2fac8;
}

.alert-limegreen .alert-link {
  color: #055c1f;
}

.badge-limegreen {
  color: #212529;
  background-color: #1DF25D;
}

.badge-limegreen[href]:hover, .badge-limegreen[href]:focus {
  color: #212529;
  background-color: #0bd046;
}

.bg-limegreen {
  background-color: #1DF25D !important;
}

a.bg-limegreen:hover, a.bg-limegreen:focus, button.bg-limegreen:hover, button.bg-limegreen:focus {
  background-color: #0bd046 !important;
}

.border-limegreen {
  border-color: #1DF25D !important;
}

.btn-limegreen {
  color: #212529;
  background-color: #1DF25D;
  border-color: #1DF25D;
}

.btn-limegreen:hover {
  color: #212529;
  background-color: #0cde4b;
  border-color: #0bd046;
}

.btn-limegreen:focus, .btn-limegreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 93, 0.5);
}

.btn-limegreen.disabled, .btn-limegreen:disabled {
  color: #212529;
  background-color: #1DF25D;
  border-color: #1DF25D;
}

.btn-limegreen:not(:disabled):not(.disabled):active, .btn-limegreen:not(:disabled):not(.disabled).active, .show > .btn-limegreen.dropdown-toggle {
  color: #212529;
  background-color: #0bd046;
  border-color: #0bc141;
}

.btn-limegreen:not(:disabled):not(.disabled):active:focus, .btn-limegreen:not(:disabled):not(.disabled).active:focus, .show > .btn-limegreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 93, 0.5);
}

.btn-outline-limegreen {
  color: #1DF25D;
  background-color: transparent;
  border-color: #1DF25D;
}

.btn-outline-limegreen:hover {
  color: #212529;
  background-color: #1DF25D;
  border-color: #1DF25D;
}

.btn-outline-limegreen:focus, .btn-outline-limegreen.focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 93, 0.5);
}

.btn-outline-limegreen.disabled, .btn-outline-limegreen:disabled {
  color: #1DF25D;
  background-color: transparent;
}

.btn-outline-limegreen:not(:disabled):not(.disabled):active, .btn-outline-limegreen:not(:disabled):not(.disabled).active, .show > .btn-outline-limegreen.dropdown-toggle {
  color: #212529;
  background-color: #1DF25D;
  border-color: #1DF25D;
}

.btn-outline-limegreen:not(:disabled):not(.disabled):active:focus, .btn-outline-limegreen:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-limegreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 242, 93, 0.5);
}

.list-group-item-limegreen {
  color: #088c2f;
  background-color: #cafbd9;
}

.list-group-item-limegreen.list-group-item-action:hover, .list-group-item-limegreen.list-group-item-action:focus {
  color: #088c2f;
  background-color: #b2fac8;
}

.list-group-item-limegreen.list-group-item-action.active {
  color: #212529;
  background-color: #088c2f;
  border-color: #088c2f;
}

.table-limegreen, .table-limegreen > th, .table-limegreen > td {
  background-color: #cafbd9;
}

.table-hover .table-limegreen:hover {
  background-color: #b2fac8;
}

.table-hover .table-limegreen:hover > td, .table-hover .table-limegreen:hover > th {
  background-color: #b2fac8;
}

.text-limegreen {
  color: #1DF25D !important;
}

a.text-limegreen:hover, a.text-limegreen:focus {
  color: #0bd046 !important;
}

/*------------------------------------
 - COLOR greenish
 ------------------------------------*/
.alert-greenish {
  color: #0c7c0e;
  background-color: #d5fad5;
  border-color: #c2f8c3;
}

.alert-greenish hr {
  border-top-color: #abf6ac;
}

.alert-greenish .alert-link {
  color: #074e09;
}

.badge-greenish {
  color: #212529;
  background-color: #1CE81F;
}

.badge-greenish[href]:hover, .badge-greenish[href]:focus {
  color: #212529;
  background-color: #13bd15;
}

.bg-greenish {
  background-color: #1CE81F !important;
}

a.bg-greenish:hover, a.bg-greenish:focus, button.bg-greenish:hover, button.bg-greenish:focus {
  background-color: #13bd15 !important;
}

.border-greenish {
  border-color: #1CE81F !important;
}

.btn-greenish {
  color: #212529;
  background-color: #1CE81F;
  border-color: #1CE81F;
}

.btn-greenish:hover {
  color: #212529;
  background-color: #14cb17;
  border-color: #13bd15;
}

.btn-greenish:focus, .btn-greenish.focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 232, 31, 0.5);
}

.btn-greenish.disabled, .btn-greenish:disabled {
  color: #212529;
  background-color: #1CE81F;
  border-color: #1CE81F;
}

.btn-greenish:not(:disabled):not(.disabled):active, .btn-greenish:not(:disabled):not(.disabled).active, .show > .btn-greenish.dropdown-toggle {
  color: #212529;
  background-color: #13bd15;
  border-color: #11af14;
}

.btn-greenish:not(:disabled):not(.disabled):active:focus, .btn-greenish:not(:disabled):not(.disabled).active:focus, .show > .btn-greenish.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 232, 31, 0.5);
}

.btn-outline-greenish {
  color: #1CE81F;
  background-color: transparent;
  border-color: #1CE81F;
}

.btn-outline-greenish:hover {
  color: #212529;
  background-color: #1CE81F;
  border-color: #1CE81F;
}

.btn-outline-greenish:focus, .btn-outline-greenish.focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 232, 31, 0.5);
}

.btn-outline-greenish.disabled, .btn-outline-greenish:disabled {
  color: #1CE81F;
  background-color: transparent;
}

.btn-outline-greenish:not(:disabled):not(.disabled):active, .btn-outline-greenish:not(:disabled):not(.disabled).active, .show > .btn-outline-greenish.dropdown-toggle {
  color: #212529;
  background-color: #1CE81F;
  border-color: #1CE81F;
}

.btn-outline-greenish:not(:disabled):not(.disabled):active:focus, .btn-outline-greenish:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-greenish.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 232, 31, 0.5);
}

.list-group-item-greenish {
  color: #0c7c0e;
  background-color: #c2f8c3;
}

.list-group-item-greenish.list-group-item-action:hover, .list-group-item-greenish.list-group-item-action:focus {
  color: #0c7c0e;
  background-color: #abf6ac;
}

.list-group-item-greenish.list-group-item-action.active {
  color: #212529;
  background-color: #0c7c0e;
  border-color: #0c7c0e;
}

.table-greenish, .table-greenish > th, .table-greenish > td {
  background-color: #c2f8c3;
}

.table-hover .table-greenish:hover {
  background-color: #abf6ac;
}

.table-hover .table-greenish:hover > td, .table-hover .table-greenish:hover > th {
  background-color: #abf6ac;
}

.text-greenish {
  color: #1CE81F !important;
}

a.text-greenish:hover, a.text-greenish:focus {
  color: #13bd15 !important;
}
