<footer class="py-4 bg-dark flex-shrink-0">
  <div class="container text-center text-white-50">
    New BloggedApp by
    <a href="https://github.com/bonikku" class="text-white">Marcin Kokoszka (Nikola B.) </a>
  </div>
  <div class="text-center"><%= link_to 'About', about_path, class: "text-dark badge badge-light" %></div>
</footer>